.App {
  text-align: center;
}

button {
  margin: 0 5px;
}

.container {
  width: 80%;
  display: flex;
  background-color: #282c34;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.container a {
  background-color: aqua;
  margin-right: 10px;
}

.article_form {
  width: 60%;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid purple;
}

.articleCreator {
  margin: 5px;
}

.articleCard {
  border: 1px solid salmon;
  margin: 5px;
  padding: 5px;
}

.articleFooter {
  display: flex;
  background-color: beige;
  justify-content: space-between;
  margin-bottom: 5px;
}

.commentCard {
  width: 60%;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid blueviolet;
}

.commentFooter {
  background-color: beige;
  justify-content: space-between;
}

.modifyWrapper {
  margin-top: 5px;
}

.userWrapper {
  display: flex;
  flex-wrap: wrap;
}

.userCard {
  border: 1px solid black;
  cursor: pointer;
  width: 40%;
  margin: 5px auto ;
}
.imageCard img {
  width: 100px;
}
header img {
  width: 55%;
  min-width: 130px
}


