.App {
  text-align: center;
}
.container {
  width: 80%;
  display: flex;
  background-color: #282c34;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.container a {
  background-color: aqua;
  margin-right: 10px;
}

img {
  width: 55%;
  min-width: 130px
}

.articleFooter {
  display: flex;
  background-color: beige;
  justify-content: space-between;
}
