#article_create{
    margin-top: 5px;
}
.author {
    cursor: pointer;
}

.listWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.articleWrapper {
    width: 80%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgb(160, 160, 167);
    margin: auto;
    padding: 5px;
}

.articleContainer {
    display: flex;
}

.articleWrapper img {
    max-height: 300px;
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 167);
    margin-top: auto;
    margin-bottom: auto;
}

.actionbar {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
  
.articleCard {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    flex: 1;
}

.articleCard:hover {
    border-color: #282c34;
}

.articleBody {
    position: relative;
    font-size: 1.2em;
    cursor: pointer;
}

.articleFooter {
    display: flex;
    background-color: beige;
    justify-content: space-between;
    padding: 0 5px;
}
  
#like {
    position: absolute;
    font-size: 1em;
    left: 10px;
    top: 5px;
}

.commentCard {
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid rgb(160, 160, 167);
    
}

.commentBody {
    font-size: 1.2em;
}
  
.commentFooter {
    background-color: beige;
    justify-content: center;
    margin-bottom: 5px;
    padding: 0 5px;
    font-size: 1.2em;
}
@media screen and (max-width: 1200px) {
    .articleContainer {
        display: block;
    }
}
@media screen and (max-width: 800px) {
    .articleWrapper {
        width: 90%;
    }
    
    .commentCard {
        width: 80%;
    }
}